**/*.log
**/git-diff.txt
**/database.sqlite*
/services/**/backups/
/services/**/config/
/services/**/logs/
/services/pihole/etc-dnsmasq.d/
/services/pihole/etc-pihole/
/.env
/.dugout-install-state.json
/.dugout-install-state.tmp
**/__pycache__/
*.pem
